.arve-wrapper {
	margin-bottom: 20px;
	width: 100%;
	/* Background image is applied with inline CSS */
	background-position: center center;
	background-size: cover;
	background-color: #000;
	position: relative;
	behavior: url(../js/backgroundsize.min.htc); /* IE polyfill for background size */
}

.arve-wrapper.alignright {
	margin-left: 20px;
}

.arve-wrapper.alignleft {
	margin-right: 20px;
}

.arve-embed-container {
  position: relative;
  display: block;
  height: 0;
  padding: 0 0 56.25%; /* 16/9 ratio */
  overflow: hidden;
}

.arve-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.arve-dailymotionlist-wrapper.arve-normal-wrapper .arve-embed-container { 
	padding-bottom: 72%;
}

.arve-collegehumor-wrapper .arve-embed-container, 
.arve-ustream-wrapper .arve-embed-container { 
	padding-bottom: 61%;
}

.arve-veoh-wrapper .arve-embed-container { 
	padding-bottom: 60.257%;
}

.arve-blip-wrapper .arve-embed-container { 
	padding-bottom: 61.4%;
}

.arve-snotr-wrapper .arve-embed-container {
	padding-bottom: 59.8%;
}

.arve-vine-wrapper .arve-embed-container {
	padding-bottom: 100%;
}

.arve-play-background:hover {
	opacity: 1;
}

.arve-hidden {
	display: none;
}

.arve-hidden-obj {
	width: 100%;
	height: 100%;
}

#obs-in-progress {
    font-size: 14px;
}