<div class="footer-widget-content container">
  <div class="row">
    <div class="col-sm-6 promo-holder first">
      <div class="promo-box first">
        <a href="/quality" title="Quality Assurance">Learn more about<br><span class="highlight">Checking Levels.</span></a>
      </div>
    </div>
    <div class="col-sm-6 promo-holder last">
      <div class="last promo-box">
        <a href="https://door43.org/en/get-started" title="Get Started">Not finding your language?<br><span class="highlight">Translate it!</span></a>
      </div>
    </div>
  </div>
</div>
