<template id="obs-translation-template">
  <div class="col-sm-4 single-translation">
      <a href="" class="translation-link"></a>
      <div class="language-details">

      </div>
  </div>
</template>

<div id="search-container">
  <form id="search">
    <a class="search-submit-button" id="search-submit" href="javascript:void(0)">
        <i class="fa fa-search"></i>
    </a>
    <div id="searchtext">
        <input type="text" id="search-language" name="language" placeholder="Search">
    </div>
  </form>
  <div class="clearfix"></div>
</div>
<div id="search-results" class="loading"><p class="loading-message">Loading...</p></div>

<img src="{{ '/assets/img/obs/obs-homepage-web.jpg' | prepend: site.baseurl }}" alt="Open Bible Stories" class="full-width-image">


<script type="application/javascript">
  $().ready(function() {
    setBaseUrl('{{ site.baseurl }}');
    setupSearchTranslations({{ site.data.obs-search-fallback | jsonify }});
  });
</script>
