<nav class="affix-top hidden-print hidden-xs hidden-sm" id="right-col">
  <ul class="nav nav-stacked affix" id="sidebar-nav">
    <li class="active">
      <a href="#communicationhelp">Communication/Help</a>
    </li>
    <li>
      <a href="#content">Content</a>
      <ul>
        <li>
          <a href="#unlocked-literal-bible-ulb">Unlocked Literal Bible (ULB)</a>
        </li>
        <li>
          <a href="#unlocked-dynamic-bible-udb">Unlocked Dynamic Bible (UDB)</a>
        </li>
        <li>
          <a href="#translationnotes-bible-tn-bible">translationNotes: Bible (tN-Bible)</a>
        </li>
        <li>
          <a href="#translationquestions-bible-tq-bible">translationQuestions: Bible (tQ-Bible)</a>
        </li>
        <li>
          <a href="#open-bible-stories-obs">Open Bible Stories (OBS)</a>
        </li>
        <li>
          <a href="#translationnotes-obs-tn-obs">translationNotes: OBS (tN-OBS)</a>
        </li>
        <li>
          <a href="#translationquestions-obs-tq-obs">translationQuestions: OBS (tQ-OBS)</a>
        </li>
        <li>
          <a href="#translationwords-tw">translationWords (tW)</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#tools">Tools</a>
      <ul>
        <li>
          <a href="#translationstudio-android-ts-android">translationStudio Android (tS-Android)</a>
        </li>
        <li>
          <a href="#translationstudio-desktop-ts-desktop">translationStudio Desktop (tS-Desktop)</a>
        </li>
        <li>
          <a href="#translationkeyboard-tk">translationKeyboard (tK)</a>
        </li>
        <li>
          <a href="#unfoldingword-app-uw-app">unfoldingWord app (uW app)</a>
        </li>
        <li>
          <a href="#door43">Door43</a>
        </li>
        <li>
          <a href="#translationdatabase-td">translationDatabase (tD)</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#training">Training</a>
      <ul>
        <li>
          <a href="#translationacademy-ta">translationAcademy (tA)</a>
        </li>
        <li>
          <a href="#audio-engineering">Audio Engineering</a>
        </li>
        <li>
          <a href="#gateway-languages-strategy">Gateway Languages Strategy</a>
        </li>
        <li>
          <a href="#gateway-languages">Gateway Languages</a>
        </li>
        <li>
          <a href="#other-languages">Other Languages</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
