<footer class="site-footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
  <div class="footer-widgets">
    <div class="wrap">
      <div class="footer-widgets-1 widget-area">
        <section id="text-5" class="widget widget_text">
          <div class="widget-wrap"><h4 class="widget-title widgettitle">end the spiritual famine.</h4>

            <div class="textwidget">help <a href="http://door43.org/en/get-started">translate</a> or <a href="/give">donate</a>
              to a project.
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="wrap">
    <nav class="nav-secondary" role="navigation" itemscope="itemscope"
         itemtype="http://schema.org/SiteNavigationElement">
      <div class="wrap">
        <ul id="menu-main-menu-1" class="menu genesis-nav-menu menu-secondary">
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67">
            <a href="{{ "/bible/" | prepend: site.baseurl }}">Bible</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-211">
            <a href="{{ "/apps/" | prepend: site.baseurl }}">Apps</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60">
            <a href="{{ "/stories/" | prepend: site.baseurl }}">Stories</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-52">
            <a href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-148">
            <a href="{{ "/contact/" | prepend: site.baseurl }}">Contact</a></li>
        </ul>
      </div>
    </nav>
    <p style="margin-top:18px;">
      <span style="color:white;">all unfoldingWord content is available under a
        <a href="http://creativecommons.org/licenses/by-sa/4.0">Creative Commons Attribution-ShareAlike License</a>.
      </span>
    </p>
    <p style="margin-top:12px">
      <a href="http://creativecommons.org/licenses/by-sa/4.0">
        <img src="/assets/img/CC-BY-SA-icon-88x31.png"/>
      </a>
    </p>
  </div>
</footer>
