<footer class="site-footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
  <div class="wrap">
    <nav class="nav-secondary" role="navigation" itemscope="itemscope"
         itemtype="http://schema.org/SiteNavigationElement">
      <div class="wrap">
        <ul id="menu-main-menu-1" class="menu genesis-nav-menu menu-secondary">
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67">
            <a href="https://unfoldingword.org/bible/">Bible</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-211">
            <a href="https://unfoldingword.org/apps/">Apps</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60">
            <a href="https://unfoldingword.org/stories/">Stories</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-52">
            <a href="https://unfoldingword.org/about/">About</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-148">
            <a href="https://unfoldingword.org/contact/">Contact</a></li>
        </ul>
      </div>
    </nav>
    <p style="margin-top:18px;">
      <span style="color:white;">all unfoldingWord content is available under a
        <a href="http://creativecommons.org/licenses/by-sa/4.0">Creative Commons Attribution-ShareAlike License</a>.
      </span>
    </p>
    <p style="margin-top:12px">
      <a href="http://creativecommons.org/licenses/by-sa/4.0">
        <img src="/assets/img/CC-BY-SA-icon-88x31.png"/>
      </a>
    </p>
  </div>
</footer>
