<footer class="site-footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
  <div class="footer-widgets">
    <div class="wrap">
      <div class="footer-widgets-1 widget-area">
        <section id="text-5" class="widget widget_text">
          <div class="widget-wrap"><h4 class="widget-title widgettitle">end the spiritual famine.</h4>

            <div class="textwidget">help <a href="http://door43.org/en/get-started">translate</a> or <a href="/give">donate</a>
              to a project.
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="wrap">
    <nav class="nav-secondary" role="navigation" itemscope="itemscope"
         itemtype="http://schema.org/SiteNavigationElement">
      <div class="wrap">
        <ul id="menu-main-menu-1" class="menu genesis-nav-menu menu-secondary">
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="{{ "/bible" | prepend: site.baseurl }}">Bible</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="{{ "/apps" | prepend: site.baseurl }}">Apps</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="{{ "/stories" | prepend: site.baseurl }}">Stories</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a></li>
        </ul>
      </div>
    </nav>
    <p style="margin-top:18px">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="{{ '/assets/img/CC-BY-SA-icon-88x31.png' | prepend: site.baseurl }}" /></a>
      <br />
      <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">The content of this page ("{{ page.title }}") from </span>
      <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">{{ site.title }}</span> is licensed under a
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> and the authoritative source is online at
      <a xmlns:dct="http://purl.org/dc/terms/" href="{{ canonical_href }}" rel="dct:source">{{ canonical_href }}</a>.
    </p>
  </div>
</footer>
