<header class="site-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          unfoldingWord
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle Navigation</span>
          <span class="fa fa-align-justify"></span>
        </button>
      </div>
      <div id="main-navbar" class="navbar-nav navbar-right collapse navbar-collapse">
        <ul id="menu-main-menu" class="nav navbar-nav">
          {{ site.data.main-menu|build }}
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="print-header" style="display: none;">
  <img src="/assets/img/cropped-uW-logo-1200w-white1.png" class="print-logo">
  <h2 class="site-description">unrestricted Biblical content in every language.</h2>
</div>
