{% assign canonical_href = page.url | replace: '/index.html', '' | prepend: site.baseurl | prepend: site.url %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/parallax.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/parallax.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/eg-attachments.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/public.css' | prepend: site.baseurl }}?ver=5.1.1">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/dashicons.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/fonts.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ canonical_href }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
        href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="" href="{{ '/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon">

  <style type="text/css">
    .site-title a {
      background: url({{ '/assets/img/cropped-uW-logo-1200w-white1.png' | prepend: site.baseurl }}) no-repeat !important;
    }
  </style>

  <script type="text/javascript">
    var BASE_URL = '{{ site.baseurl }}';
  </script>
  <script type="text/javascript" src="{{ '/assets/js/util.js' | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/jquery.min.js' | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/responsive-menu.js' | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/parallax.js' | prepend: site.baseurl }}"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-60106521-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
