<nav class="nav-header" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
  <div class="responsive-menu-icon"></div>
  <ul id="menu-main-menu" class="menu genesis-nav-menu responsive-menu">

    {% for item in site.data.mainmenu %}
      <li class="menu-item">
        {% if item.href == null %}
          {{ item.title }}
        {% else %}
          <a href="{{ item.href | prepend: site.baseurl }}">{{ item.title }}</a>
        {% endif %}
        {% if item.subitems != null %}
          <ul class="sub-menu">
          {% for subitem in item.subitems %}
            <li class="menu-item">
              <a href="{{ subitem.href | prepend: site.baseurl }}">{{ subitem.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}

  </ul>
</nav>
