<nav class="nav-header" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
  <ul id="menu-main-menu" class="menu genesis-nav-menu responsive-menu">
  {% strip %}
    {% for item in site.data.main-menu %}{% if item.subitems != null %}
        {% assign hasSub = 'menu-item-has-children' %}
      {% else %}
        {% assign hasSub = '' %}
      {% endif %}
      {% if page.menuitemid != null and page.menuitemid == item.id %}
        {% assign cls = 'menu-item current-menu-item' %}
      {% else %}
        {% assign cls = 'menu-item' %}
      {% endif %}
      <li class="{{ cls }} {{ hasSub }}">
        {% if item.href == null %}
          {{ item.title }}
        {% else %}
          <a href="{{ item.href | prepend: site.baseurl }}">{{ item.title }}</a>
        {% endif %}
        {% if item.subitems != null %}
          <ul class="sub-menu">
          {% for subitem in item.subitems %}
            {% if page.menuitemid != null and page.menuitemid == subitem.id %}
              {% assign subcls = 'menu-item current-menu-item' %}
            {% else %}
              {% assign subcls = 'menu-item' %}
            {% endif %}
            <li class="{{ subcls }}">
              <a href="{{ subitem.href | prepend: site.baseurl }}">{{ subitem.title }}</a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  {% endstrip %}
  </ul>
</nav>
