<div>
  <ul id="story-languages">
  </ul>
</div>
<template id="obs-language-template">
  <li class="languages">
    <span data-span-type="langString" lang=""></span> (<span data-span-type="langLanguage"></span>)
    <a class="img_swap download-resource-icon" href="">
      <img class="languages" src="{{ '/assets/img/obs/low_res_h.png' | prepend: site.baseurl }}">
    </a>
    <a class="img_swap download-resource-icon" href="">
      <img class="languages" src="{{ '/assets/img/obs/high_res_h.png' | prepend: site.baseurl }}">
    </a>
    <a class="img_swap download-resource-icon fa-icon" href="">
      <i class="fa fa-file-pdf-o"></i>
    </a>
  </li>
</template>
{% strip %}
{% assign storedJson = '[' %}
{% assign delim = '' %}
{% for lang in site.data.obs-catalog %}
{% assign storedJson = delim | append: '{' | prepend: storedJson %}
{% assign storedJson = '"language":"' | append: lang.language | append: '",' | prepend: storedJson %}
{% assign storedJson = '"string":"' | append: lang.string | append: '",' | prepend: storedJson %}
{% assign storedJson = '"status": {"version":"' | append: lang.status.version | append: '","checking_level":"' | append: lang.status.checking_level | append: '"}' | prepend: storedJson %}
{% assign storedJson = "}" | prepend: storedJson %}
{% if delim == '' %}{% assign delim = ',' %}{% endif %}
{% endfor %}
{% assign storedJson = ']' | prepend: storedJson %}
{% endstrip %}
<script type="application/javascript">
  $().ready(function() {
    setupAvailableTranslations(JSON.parse('{{ storedJson }}'));
  });
</script>