{% if page.header_image_layout == 'icon' %}
<div class="header-image-outer {{ page.header_image_layout }}">
    <div class="header-image-inner">
        <img src="/assets/img/{{ page.header_image }}" alt="Header">
    </div>
</div>
{% endif %}
<header class="text-center">
    <div class="entry-header-title">
        {% if page.header_title %}
        <h1 itemprop="headline">{{ page.header_title }}</h1>
        {% else %}
        <h1 itemprop="headline">{{ page.title }}</h1>
        {% endif %}
    </div>
</header>
