
div.page-credits p {
  margin-top: 32px;
  font-size: 12px;
  color: #888;

  a { color: #888; }
}

p.apps-buttons img {
  height: 55px;

  &[alt='App Store'] { height: 48px; }
}

p.bold-center-120 {
  font-weight: 700;
  font-size: 120%;
  text-align: center;
}

div.entry-content {
  p.one-third {
    text-align: center;

    img { margin-top: 10px; max-width: 64px;}
  }
}

ol, ul {
  li { margin: 0.9em 0; }
}

ul.menu {
  li { margin: 0; }
}

p.clear {
  clear: both;
}

hr {
    margin-top: 24px;
    margin-bottom: 24px;
}

div.header-image-outer {
  width: 100%;

  &.icon {
    div.header-image-inner {
      display: table;
      margin: 0 auto;

      img {
        height: 64px;
        margin-bottom: 24px;
      }
    }
  }
}