em.u {
  font-style: normal;
  text-decoration: underline;
}

strong em.u {
  font-weight: 700;
}

em em.u {
  font-style: italic;
}

blockquote {
  color: #000 !important;

  p {
    color: #000 !important;
  }
}