em.u {
  font-style: normal;
  text-decoration: underline;
}

strong em.u {
  font-weight: 700;
}

em em.u {
  font-style: italic;
}

blockquote {
  color: #000 !important;

  p {
    color: #000 !important;
  }
}

#ta-pages-div {
  .bs-docs-section {
    h2.sectionedit1 { padding-top: 80px; }

    table {
      border: 1px solid #ccc;
      min-width: 400px;
      th, td {
        border: 1px solid #ccc;
        padding: 4px 7px;
      }
      th {
        background-color: #eee;
      }
    }
  }
}

nav ul#sidebar-nav li {
  margin: 4px 0 !important;

  a {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
}
