<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="home page page-id-15 page-template-default custom-header header-image full-width-content parallax-pro-blue" itemscope="itemscope" itemtype="http://schema.org/WebPage">
  {% include header.html %}
  <div class="site-inner">
    {% if page.header_image_layout == 'icon' %}
    <div class="header-image-outer {{ page.header_image_layout }}">
      <div class="header-image-inner">
        <img src="/assets/img/{{ page.header_image }}">
      </div>
    </div>
    {% endif %}
    <div class="content-sidebar-wrap">
      <main class="content" role="main" itemprop="mainContentOfPage">
        <article class="post-75 page type-page status-publish entry" itemscope="itemscope"
                 itemtype="http://schema.org/CreativeWork">
          <header class="entry-header"><h1 class="entry-title" itemprop="headline">{{ page.title }}</h1></header>
          <div class="page-content">
            <div class="wrapper">
              <div class="entry-content" itemprop="text">
                {{ content }}
              </div>
              {% if page.credits != null %}
                <div class="page-credits">{{ page.credits | markdownify }}</div>
              {% endif %}
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>
  {% include footer.html %}
  </body>
</html>
