<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body class="background-layered-layout" itemscope="itemscope" itemtype="http://schema.org/WebPage">
  {% include header.html %}
  <div id="layered-content">
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{ page.background_image | prepend: site.baseurl }}"></div>
    <div id="content-layer">
      <div class="site-inner container">
        <main class="content" role="main" itemprop="mainContentOfPage">
          <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
            <div class="page-content">
              <div class="wrapper">
                <div class="entry-content" itemprop="text">
                  {{ content }}
                </div>
              </div>
            </div>
          </article>
        </main>
        {% if page.content_layer_footer_widget != null %}
          {% include {{ page.content_layer_footer_widget }} %}
        {% endif %}
      </div>
    </div>
  </div>
  <div id="layered-footer-content">
    <div class="site-inner container">
      {% if page.footer_layer_widget != null %}
        {% include {{ page.footer_layer_widget }} %}
      {% endif %}
      {% if page.credits != null %}
        <div class="page-credits">{{ page.credits | markdownify }}</div>
      {% endif %}
    </div>
  </div>
  {% include footer.html %}
  <script type="text/javascript" src="{{ '/js/jquery.accordion.js' | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ '/js/jquery.popupoverlay.js' | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
  </body>
</html>
