<!DOCTYPE html>
<html>

  {% include head.html %}

  <body itemscope="itemscope" itemtype="http://schema.org/WebPage">

    {% include header.html %}

    <div class="content-container container">
      <main class="content" role="main" itemprop="mainContentOfPage">
        <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
          {% include page_image_and_title.html %}
          <div class="page-content">
              {{ content }}
              {% if page.credits != null %}
                <div class="page-credits">{{ page.credits | markdownify }}</div>
              {% endif %}
          </div>
        </article>
      </main>
    </div>

    {% include footer.html %}

  </body>

</html>
