<!DOCTYPE html>
<html>

  {% include head.html %}

  <body itemscope="itemscope" itemtype="http://schema.org/WebPage">

    {% include header.html %}

    <div class="content-container container">
      <main class="content" role="main" itemprop="mainContentOfPage">
        <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
          {% include page_image_and_title.html %}
          <div class="page-content {{ page.title | slugify }}">
              {% if page.sidebar_nav_file != null %}
                <div class="row">
                  <div class="col-md-7" role="main">
                    {{ content }}
                  </div>
                  <div class="col-md-5 sidebar" role="complementary">
                    {% include {{ page.sidebar_nav_file }} %}
                  </div>
                </div>
              {% else %}
                {{ content }}
              {% endif %}
              {% if page.credits != null %}
                <div class="page-credits">{{ page.credits | markdownify }}</div>
              {% endif %}
          </div>
        </article>
      </main>
    </div>

    {% include footer.html %}

  </body>

</html>
